@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Category Name</th>        
        <th>Update</th>
        <th>Delete</th>
        <th>Headings</th>
    </tr>

    @foreach (var x in Model)
    {
<tr>
    <th>@x.CategoryId</th>
    <td>@x.CategoryName</td>
    <td><a class="btn btn-warning" href="/AdminCategory/UpdateCategory/@x.CategoryId">Update</a></td>
    <td><a class="btn btn-danger" href="/AdminCategory/DeleteCategory/@x.CategoryId">Delete</a></td>
    <td><a class="btn btn-primary" href="#">Headings</a></td>
</tr>
    }

</table>
<a href="/AdminCategory/AddCategory/" class="btn btn-info">Add New Category</a>




