
@{
    Layout = null;
}

<br />
<table class="table table-bordered">
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Category Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>This section is the Education Category</td>
        <td>True</td>
    </tr>
</table>